[Desktop Entry]
Comment=Terminate an existing PPP connection
Comment[it]=Termina una connessione PPP esistente
Comment[de]=Eine bestehende PPP Verbindung trennen
Comment[pl]=Przerwij trwające połączenie
Comment[el]=Τερματισμός μιας υπάρχουσας PPP σύνδεσης
Encoding=UTF-8
Exec=kppp -k
GenericName=
GenericName[pl]=
Icon=kppp
MimeType=
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
