[Desktop Entry]
Version=1.0
# Encoding: UTF-8
Comment=Terminate an existing PPP connection
Comment[it]=Termina una connessione PPP esistente
Comment[de]=Eine bestehende PPP Verbindung trennen
Comment[pl]=Przerwij trwające połączenie
Comment[el]=Τερματισμός μιας υπάρχουσας PPP σύνδεσης
Exec=kppp -k
Icon=kppp
Name=KPPP
Type=Application
