[Desktop Entry]
Version=1.0
# Encoding: UTF-8
Exec=kppp -k
Icon=kppp
Name=KPPP/KDE 4 (terminate an existing PPP connection)
Name[pl]=KPPP/KDE 4 (przerwij trwające połączenie)
# TODO: please update and move to Name[xx] entry
#Comment[de]=Eine bestehende PPP Verbindung trennen
#Comment[el]=Τερματισμός μιας υπάρχουσας PPP σύνδεσης
#Comment[it]=Termina una connessione PPP esistente
Type=Application
