[Desktop Entry]
Version=1.0
# Encoding: UTF-8
Exec=dbus-send --print-reply --dest=org.kde.amarok /Player org.freedesktop.MediaPlayer.Stop
Icon=amarok
Name=Amarok
Type=Application
