[Desktop Entry]
Version=1.0
# Encoding: UTF-8
Comment=Stop Playback
Comment[de]=Wiedergabe anhalten
Comment[it]=Interrompi riproduzione
Comment[pl]=Zatrzymaj odtwarzanie
Comment[el]=Σταμάτημα αναπαραγωγής
Exec=dcop juk Player stop
Icon=juk
Name=JuK
Type=Application
