[Desktop Entry]
Version=1.0
# Encoding: UTF-8
Exec=dbus-send --print-reply --dest=org.kde.kaffeine /Player org.freedesktop.MediaPlayer.Stop
Icon=kaffeine
Name=Kaffeine
Name[sr]=Кафеин
Name[sr@latin]=Kafein
Name[sr@ijekavian]=Кафеин
Name[sr@ijekavianlatin]=Kafein
Type=Application
