[Desktop Entry]
Version=1.0
# Encoding: UTF-8
Comment=Mute and quit
Comment[pl]=Wycisz i zakończ
Comment[el]=Κλείσιμο ήχου και τερματισμός
Exec=KDETV_PID=`pidof kdetv`; dcop "kdetv-$$KDETV_PID" KdetvIface toggleMute; dcop "kdetv-$$KDETV_PID" MainApplication-Interface quit
Icon=kdetv
Name=kdetv
Type=Application
