[Desktop Entry]
Version=1.0
# Encoding: UTF-8
Exec=dbus-send --print-reply --dest=org.kde.kscd /CDPlayer org.kde.KSCD.stop
Icon=kscd
Name=KsCD/KDE 4
Type=Application
