[Desktop Entry]
Version=1.0
# Encoding: UTF-8
Exec=killall mplayer
Icon=media-playback-start
Name=MPlayer (quit all)
Name[pl]=MPlayer (zakończ wszystkie)
Name[sr]=М-Плејер (напусти све)
Name[sr@latin]=M-Plejer (napusti sve)
Name[sr@ijekavian]=М-Плејер (напусти све)
Name[sr@ijekavianlatin]=M-Plejer (napusti sve)
Name[fr]=MPlayer (quitte tout)
Type=Application
