[Desktop Entry]
Comment=Stop Playback
Comment[de]=Wiedergabe anhalten
Comment[it]=Interrompi riproduzione
Comment[pl]=Zatrzymaj odtwarzanie
Comment[el]=Σταμάτημα αναπαραγωγής
Encoding=UTF-8
Exec=dcop noatun Noatun stop
Icon=noatun
MimeType=
Name=Noatun
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
