/*
FIXME: disabled widgets
FIXME: date-time-edit
*/

/*
CREDITS: http://www.colourlovers.com/palette/77155/land_of_1000_dances
#213435
#46685B
#648A64
#A6B985
#E1E3AC
*/

* {
	font-weight: bold;
	selection-color: white;
	selection-background-color: black;
}

QComboBox {
	background-color: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #46685B, stop:1 #648A64);
	color: #E1E3AC;
	border: none;
	min-height: 24px;
}

QComboBox::drop-down {
	background-image: url($THEME_DIR/arrow-down-double.png);
	background-position: left center;
	background-repeat: no-repeat;
}

QComboBox:hover {
	background-color: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #648A64, stop:1 #A6B985);
	color: #E1E3AC;
}

QMenuBar {
	background-color: #213435;
	color: #648A64;
	background-image: url($THEME_DIR/background.png);
}

QMenuBar:item, QMenu:item {
	background-color: #213435;
	color: #648A64;
	background-image: url($THEME_DIR/background.png);
}

QMenuBar:item:hover {
	background-color: #213435;
	color: #A6B985;
}

#date-time-edit {
	background-color: #A6B985;
	border: none;
	color: #213435;
	font-size: 16pt;
}

#main-widget {
	background: #213435;
}

/*
QGroupBox#trigger-box {
	color: #E1E3AC;
}
*/

QPushButton:pressed {
	padding-left: 7px;
	padding-top: 7px;
}

QPushButton {
	background-color: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #648A64, stop:1 #A6B985);
	color: #213435;
	border: none;
	min-height: 24px;
	padding: 5px;
}

QPushButton:hover {
	background-color: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #A6B985, stop:1 #E1E3AC);
	color: #213435;
}

QPushButton:pressed {
	background-color: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #E1E3AC, stop:1 #A6B985);
	color: #213435;
}