[Desktop Entry]
Version=1.0
# Encoding: UTF-8
Exec=dbus-send --print-reply --dest=org.kde.amarok /Player org.freedesktop.MediaPlayer.Stop
Icon=amarok
Name=Amarok 2.0+/KDE 4
Name[sr]=Амарок 2.0+/КДЕ 4
Name[sr@latin]=Amarok 2.0+/KDE 4
Name[sr@ijekavian]=Амарок 2.0+/КДЕ 4
Name[sr@ijekavianlatin]=Amarok 2.0+/KDE 4
Type=Application
