[Desktop Entry]
Version=1.0
# Encoding: UTF-8
Comment=Stop Playback
Comment[de]=Wiedergabe anhalten
Comment[it]=Interrompi riproduzione
Comment[pl]=Zatrzymaj odtwarzanie
Comment[el]=Σταμάτημα αναπαραγωγής
Exec=dcop amarok player stop
Icon=amarok
Name=Amarok
Type=Application
