[Desktop Entry]
Version=1.0
# Encoding: UTF-8
Exec=dbus-send --print-reply --dest=org.kde.juk /Player org.kde.juk.player.stop
Icon=juk
Name=JuK
Type=Application
