[Desktop Entry]
Version=1.0
# Encoding: UTF-8
Comment=Shut down a PPPoE link
Comment[de]=Eine PPPoE Verbindung trennen
Comment[it]=Disconnetti una connessione PPPoE
Comment[pl]=Zakończ połączenie PPPoE
Comment[el]=Τερματισμός μιας PPPoE σύνδεσης
Exec=/usr/sbin/adsl-stop
Icon=network_disconnected
Type=Application
