[Desktop Entry]
Version=1.0
# Encoding: UTF-8
Comment=Eject CD
Comment[de]=CD auswerfen
Comment[it]=Espelli CD
Comment[pl]=Wysuń CD
Comment[el]=Εξαγωγή  CD
Exec=kdeeject /dev/cdrom
Icon=cdrom_unmount
Type=Application
