[Desktop Entry]
Version=1.0
# Encoding: UTF-8
Exec=kppp -k
Icon=kppp

Name=KPPP/KDE 4 (terminate an existing PPP connection)
Name[fr]=KPPP/KDE 4 (termine une connexion PPP existante)
Name[pl]=KPPP/KDE 4 (przerwij trwające połączenie)
Name[sr]=КППП/КДЕ 4 (прекини постојећу ППП везу)
Name[sr@latin]=KPPP/KDE 4 (prekini postojeću PPP vezu)
Name[sr@ijekavian]=КППП/КДЕ 4 (прекини постојећу ППП везу)
Name[sr@ijekavianlatin]=KPPP/KDE 4 (prekini postojeću PPP vezu)

Type=Application
